.clear{ clear: both; }
.posicaoLogo{ margin-top: -16px; }

#divHeader
{ 
    margin-top: -15px; 
    margin-bottom: 2px;
}
#search{ cursor: pointer; }

a{ cursor: pointer; }
.page-header{ border-bottom: 1px solid #CCCCCC; }